html {
	font-family: 'Montserrat', sans-serif;
	font-size:50%;
	background-image: url("../images/backgroundImage.jpg");
  	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  	overflow:auto;
}

body {
	width:90%;
	background-color:rgba(0,0,0,0.8);
	border-radius: 5rem 5rem;
	margin: 15rem auto;
	margin-bottom: 5rem;
	padding:5rem;
	border: 0.5rem solid white;
}


p, h2, h3, h4, h5, h6, li{
	color:white;
}


p, li {
	font-size: 2.5rem;
	font-size:1vw;
}

/*Main name*/
h1 {
	color:white;
	font-weight: 700;
	font-size:18rem;
	font-size:8vw;
}

/*Welcome message*/
h2 {
	font-size:8rem;
	font-size:3vw;
}

/*Section titles*/
h3 {
	font-size: 6rem;
	font-size: 3vw;
	padding:1rem;
	margin-top:15rem;
	margin-bottom:4rem;
	text-align: center;
	border: 0.5rem solid white;
	background-color:rgba(255,255,255,0.5);
	border-radius: 1rem 8rem;
}


/*Textbox titles */
h4 {
	font-size:4rem;
	font-size:2vw;
	margin:2rem;
}

/*Text below name and contact form*/
h5 {
	font-size:3rem;
	font-size:1.5vw;
	font-weight:700;
}


.fixed-navbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height:12rem;
	height: 5vw;
	background-color:rgba(0,0,0,0.8);
	border-color:white;
	border-width: 0.5rem;
	border-bottom-style: solid 

}

.fixed-navbar li {
	padding: 1.5vw;
	font-weight: 700;
	font-size:4rem; 
	font-size:1.5vw;
	display: inline;
}

.fixed-navbar a:hover{
 	text-shadow: 0.3rem 0.3rem 0.3rem white;
 	text-decoration: none;
}

.fixed-navbar a{
	text-decoration: none
} 

 #nav-name {
	font-size:3vw;
	font-weight:700;
	margin-left: 3rem;
	margin-left: 3vw;
	margin-right: 35rem;
	margin-right: 15vw;
}


#home{
	text-align: center;
}

#home img {
	margin-top: 10rem;
	margin-top:2vw;
	height:auto;
	width:40%;
	border: 0.5rem solid white;
	border-radius: 4rem 14rem;

}

.name-box{
	background-color:rgba(255,255,255,0.5);
	border: 0.5rem solid white;
	border-radius: 4rem 10rem;
	text-align:center;

}

.text-box{
	background-color:rgba(255,255,255,0.5);
	border: 0.5rem solid white;
	border-radius: 2rem 8rem;
	width: 33%;
	text-align:center;
	margin:1.5rem;
}

.image-box {
	background-color:rgba(255,255,255,0.5);
}

.align-boxes {
	display:inline-flex; 
	justify-content: center;
}

.center-text {
	margin:3rem;
	text-align:justify;
}

#about img {
	height:auto;
	width: 80%;
	margin:2rem;
}

#portfolio img {
	height:auto;
	width: 80%;
	margin:1rem;
}



#skills {
	text-align: center;
}

#skills img {
	height: auto;
	width: 50%;
}

#skills p {
	margin:1rem;
	font-size:2rem;
	font-size:1.5vw;
}

.skills-box {
	background-color:rgba(255,255,255,0.5);
	border: 0.5rem solid white;
	border-radius: 2rem 6rem;
	width:10%;
	height:auto;
	text-align:center;
	margin:1rem;
	padding-top:6rem;
}


#contact-box{
	background-color:rgba(255,255,255,0.5);
	border: 0.5rem solid white;
	border-radius: 3rem 9rem;
	width:70%;
	text-align:center;
	margin:0 auto;
	padding-bottom:5rem;
}

#contact h5 {
	margin:5rem;
}

input, textarea {
	padding: 2rem;
	padding: 0.5vw;
	margin:2rem 0;
	font-size: 4rem;
	border: 0.5rem solid white;
	border-radius: 2rem 5rem;
	width:80%;
	color:black;
}


#footer {
	text-align: center
}

#footer img {
	width: 5%;
	height: auto;
	margin:2rem;
	margin-top:50rem;
	background-color:rgba(255,255,255,0.5);
	padding:1rem;
	border: 0.5rem solid white;
	border-radius: 2rem 4rem;
}

#footer a {
	text-decoration: none;
}

#footer a:hover{
 	text-shadow: 0.3rem 0.3rem 0.3rem white;
 	text-decoration: none;
}

#footer .copyright {
	margin:0;
}

#back-to-top img {
	position:fixed;
	bottom: 2rem;
	right: 2rem;
	width: 5rem;
	width: 2vw;
	height: 5rem;
	height:2vw;

}



